on:
  schedule:
    - cron: 0 0 1 * *
  workflow_dispatch: # run manually
  # push:
  # ...

name: Broken Link Check
jobs:
  check:
    name: Broken Link Check
    runs-on: ubuntu-latest
    steps:
      - name: Broken Link Check
        uses: technote-space/broken-link-checker-action@v2
        with:
          target: http://lessobvious.cc/
